body {
  background-image: url("../img/cover.jpg");
  background-size:cover;
}
.container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px 350px;
  background-image: url("../img/background.png");
  background-size: cover;
  border: 2px black solid;
}
.life-bar {
  width: 100%;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}
div.zombie img{
  position: relative;
  left: 5px;
  top: 220px;
  width: 50px;
  height: auto;
}

.money{
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
  color: gold;
  text-align: right;
  margin-right: 30px;
}
.zombie{
  width: 100%;
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
}
.items{
  width: 80%;

}
.randomboost{
  grid-row: 2 / span 1;
  grid-column: 1 / span  3;
}
#superBoost{
  width: 30px;
  height: 30px;
  display: none;
}
.randomboost{
  grid-row: 2 / span 1;
  grid-column: 1 / span  3;
  text-align: center;
}
.level {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  color: red;
  margin-left: 30px;
}
