.life-bar {
  width: 100%
}
.container{
  width: 700px;
  height: 350px;
  background-image: url("../img/background.png");
  background-size: cover;
}
div.zombie img{
  margin-top: 150px;
  position: absolute;
  left:20px;
}
.money{
  float: left;
  color: gold;
  margin-left: 20px;
}
.zombie{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.items{
  margin-left: 20px;
}
#superBoost{
  width:30px;
  height:30px;
  display: none;
  position: absolute;
}
.randomboost{
  width:480px;
  height: 225px;
  margin-left: 120px;
  margin-top: 100px;
  position: absolute;
}
